main{
max-width: 850px;
margin: 0 auto;
}
.logo-container{
  width: 250px;
  filter: drop-shadow(0 0 0.75rem rgb(221, 220, 220));
}

h1, h2{
  color: #283845;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
}
.natural-reserve-block{
  background: url(./Images/natural-reserve-block.jpg);
  background-size: 100%;
  background-position: bottom;
  min-height: 180px;
}
.life-duck-block{
  background: url(./Images/life-duck-block.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
  min-height: 180px;
}
.duck-coins-block{
 background: url(./Images/duck-coins-block.jpg);
 background-size: 100%;
 background-position: center;
 min-height: 180px;
}

.expedition-block{
  background: url(./Images/expedition-block.jpg);
  background-size: 100%;
  background-position: bottom;
  min-height: 180px;
}
.container-footer{
  background-color: #2A9D8F;
  color: white;
  min-height: 500px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
}